.main{
    display: flex;
    
}
.main__title{
    display: flex;
    padding-left: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}
.main__img{
    width: 100%;
}
@media (min-width: 1440px) {
    .main{
    max-width: 1440px;
    margin: 0 auto;
    }
}